.rating-form {
  background-color:#444;
  padding:2rem;
  border-radius: 5px;
  color:#fff;
  width:400px;
}
.rating-form input, textarea {
  background-color:#fff;
  border:none;
  display:block;
  width:100%;
  min-height:36px;
  font-size:1.6rem;
  padding: 0 10px;
  color:#444;
}
.rating-form input[type=radio] {
  width:auto;
}
.rating .rating__inner {
  display: flex;
}
.rating-form label {
  font-size:1.6rem;
  font-family: Arial, sans-serif;
  padding: 0 0 10px 0;
}
.rating-form .form-row {
  margin: 0 0 20px 0;
}
input[type=submit] {
  background-color:green;
  color:#fff;
  font-size:1.6rem;
  padding: 10px 0;
}
